{{#each pets as |pet| }}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{pet.pet_name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{pet.pet_type}}</h6>
            <h6 class="card-body">{{pet.color}}</h6>
            <h6 class="card-body">{{pet.dateofbirth}}</h6>
            <a href="/api/pets/{{pet.id}}" class="card-link">View Pet</a>
        </div>
    </div>
{{/each}}


<footer class="footer flex-row justify-center">
    <a href="/dashboard/new">Add New Pet</a>
</footer>