<form class="col-10 p-4 m-auto">
        <input type="hidden" id="edit-pet-id" value="{{pet.id}}"/>
        <h4 class="form group col-5 m-auto">EDIT PET</h4>
        <div class="form-group">
            <label for="postName">Name:</label>
            <textarea class="form-control" id="edited-name" rows="1">{{pet.pet_name}}</textarea>
        </div>
        <div class="form-group">
            <label for="petType">Type:</label>
            <textarea class="form-control" id="edited-type" rows="1">{{pet.pet_type}}</textarea>
        </div>
        <div class="form-group">
            <label for="petColor">Color:</label>
            <textarea class="form-control" id="edited-color" rows="1">{{pet.color}}</textarea>
        </div>
        <div class="form-group">
            <label for="petDOB">Date of Birth:</label>
            <textarea class="form-control" id="edited-DOB" rows="1">{{pet.dateofbirth}}</textarea>
        </div>
        <div class="d-flex justify-content-center">
            <button id="edit-pet-button" class="btn btn-dark col-4">Update Pet</button>
        </div>
</form> 


<div class="d-flex justify-content-center">
</div>



<script src="/js/update-pet.js"></script>