
    <div>
        {{!-- <a href="/dashboard/edit/{{pet.id}}"><button class="col-6">Edit Pet Info</button></a>
        <button id="delete-pet-button" class="col-6">Delete Pet</button> --}}
        <a href="/dashboard/edit/{{pet.id}}"><button class="waves-effect waves-light btn-large">Edit Pet Info</button></a>
        <button id="delete-pet-button" class="waves-effect waves-light btn-large">Delete Pet</button>
    </div>

    <input type="hidden" id="edit-pet-id" value="{{pet.id}}"/>

    <div>
        <h3>{{pet.pet_name}}</h3>
        <h5>{{pet.pet_type}}</h5>
        <h5>{{pet.color}}</h5>
        <h5>{{pet.dateofbirth}}</h5>
    </div>
    {{!-- Populate vet visits for pet --}}
    {{#each vets as |vet| }}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{vet.date}}</h5>
                <a href="/api/vet-visits/{{vet.id}}" class="card-link">View Vet Visit</a>
            </div>
        </div>
    {{/each}}



<footer class="footer flex-row justify-center">
    <a href="/api/pets/{{pet.id}}/new/vet">Add New Vet Visit</a>
</footer>

 <script src="/js/edit-pet.js"></script>
