<input type="hidden" id="edit-vet-id" value="{{vet.id}}"/>
<section>
    <p id='vet-visit-date'>
        Date:
        {{vet.date}}
    </p>
    <p id='vet-visit-description'>
        Description:
        {{vet.description}}
    </p>
    <p id='vet-visit-weight'>
        Weight:
        {{vet.weight}}
    </p>
    <div>
        <button class='col-6' id='delete-vet-button'>Delete</button>
        <a href="/api/vet-visits/edit/{{vet.id}}"><button class='col-6'>Update</button></a>
    </div>  
</section>


<script src="/js/edit-vet.js"></script>
